<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Wayne</title>
  <link rel="stylesheet" href="//cache.hinabian.com/admin/element-ui/index.css">
  <link rel="stylesheet" href="//api.hinabian.com/study-tour/Operate/commonCss">
</head>
<body>
<div id="app">
  <template>
    <div class="app-container" style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);padding: 10px">
      <!--过滤器-->
      <div class="filter-container" style="">
        <el-input class="filter-item" v-model="query.keywords" clearable placeholder="关键词" autofocus @keyup--.enter.native="handleFilter" @input="handleFilter"></el-input>
        <el-select class="filter-item" v-model="query.is_enabled" clearable placeholder="是否上线" @change="handleFilter">
          <el-option label="上线" value="1"></el-option>
          <el-option label="未上线" value="0"></el-option>
        </el-select>
        <el-button type="primary" @click="resetFilter">重置</el-button>
        <el-button style="margin-left: 10px;" type="primary" @click="handleCreate">新建</el-button>
      </div>

      <!--数据列表-->
      <el-table :data="list" v-loading="loading" :empty-text="empty_list" stripe-- style="width: 100%;margin: 20px 0;border-top: 1px solid #eee;">
        <el-table-column prop="title" label="标题">
          <template slot-scope="scope">
            <el-popover placement="right" trigger="hover" :content="scope.row.title">
              <span slot="reference">{{scope.row.title | ellipsis(38)}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="picture" label="封面图" width="160">
          <template slot-scope="scope">
            <el-popover placement="left" trigger="hover">
              <el-image style="width: 200px; height: 100%" :src="scope.row.picture"></el-image>
              <el-image slot="reference" style="width: 40px; height: 100%" :src="scope.row.picture"></el-image>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="views" label="阅读数" width="100"></el-table-column>
        <el-table-column prop="is_enabled" label="上线" width="60">
          <template slot-scope="scope">
            <el-switch :value="Boolean(scope.row.is_enabled)" active-text="" active-color="#13ce66" @change="handleUpdate($event, {is_enabled: !scope.row.is_enabled, uuid: scope.row.uuid})"></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="danger--" @click="handleInfo(scope.row, scope.$index)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page.sync="query.page"
              :page-sizes="[7, 20, 50, 100]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next"
              :total="total">
      </el-pagination>

      <!--编辑对话框-->
      <el-dialog :close-on-click-modal="false" fullscreen__ :title="editor_title" :visible.sync="is_show_editor" @closed="resetForm('dataForm')">
        <el-form ref="dataForm" v-loading="loading" :rules="rules" :model="info" label-position="right" label-width="90px">
          <el-form-item label="标题" prop="title"><el-input v-model="info.title" placeholder="输入一个标题" style="width: 90%"></el-input></el-form-item>
          <el-form-item label="封面图" prop="picture">
            <el-upload
                    class="avatar-uploader"
                    action="https://operate.hinabian.com/file/image/saveWithOssLimit/size/50000"
                    :show-file-list="false"
                    :with-credentials="true"
                    :on-success="handlePictureSuccess"
                    :before-upload="beforePictureUpload">
              <el-popover v-if="picture" placement="top" trigger="hover">
                <el-image style="width: 200px; height: 100%" :src="picture"></el-image>
                <img slot="reference" :src="picture" class="avatar">
              </el-popover>
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="详情图" prop="bg_image">
            <el-upload
                    class="avatar-uploader"
                    action="https://operate.hinabian.com/file/image/saveWithOssLimit/size/50000"
                    :show-file-list="false"
                    :with-credentials="true"
                    :on-success="handleBgImageSuccess"
                    :before-upload="beforePictureUpload">
              <el-popover v-if="bg_image" placement="top" trigger="hover">
                <el-image style="width: 200px; height: 100%" :src="bg_image"></el-image>
                <img slot="reference" :src="bg_image" class="avatar">
              </el-popover>
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="内容" prop="content" style="margin-bottom: 12px"><textarea style="width: 90%;height: 100px;" id="rich_text"></textarea></el-form-item>
          <el-row>
            <el-col :span="18">
              <el-form-item label="" prop="source_url">
                <el-input v-model="info.source_url" placeholder="输入一个链接, 成功抓取后将覆盖内容" style="width: 100%"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-button style="margin-left: 10px;" type="primary" @click="crawl()" :loading="posting">抓取</el-button>
            </el-col>
          </el-row>
          <el-form-item label="阅读数" prop="price"><el-input-number v-model="info.views" style="width:200px" controls-position="right" :max="1000000" placeholder="输入一个初始阅读数量"></el-input-number></el-form-item>
          <el-form-item label="上线" prop="is_enabled"><el-switch @change="info.is_enabled=!info.is_enabled" :value="Boolean(info.is_enabled)" active-text="" active-color="#13ce66"></el-switch></el-form-item>
          <el-form-item label="昵称" prop="nickname">
            <el-autocomplete
                    v-model="info.nickname"
                    :fetch-suggestions="querySearch"
                    placeholder="请输入内容"
                    @select="handleSelect"
            ></el-autocomplete>
<!--            <el-input v-model="info.nickname" placeholder="输入一个昵称" style="width: 200px"></el-input>-->
          </el-form-item>
          <el-form-item label="头像" prop="avatar">
            <el-upload
                    class="avatar-uploader"
                    action="https://operate.hinabian.com/file/image/saveWithOssLimit/size/50000"
                    :show-file-list="false"
                    :with-credentials="true"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforePictureUpload">
              <el-popover v-if="avatar" placement="top" trigger="hover">
                <el-image style="width: 200px; height: 100%" :src="avatar"></el-image>
                <img slot="reference" :src="avatar" class="avatar">
              </el-popover>
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
            <el-form-item label="推荐项目" prop="project_uuid_list">
                <el-button style="margin-bottom:10px;" type="primary" @click="addProject">增加</el-button>
                <span class="info" style="float: right">拖拽以排序</span>
                <!--推荐阅读-->
                <div class="sort_table el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition el-table--mini">
                    <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" width="100%" style="border-top: 1px solid #eee;">
                        <tr v-for="(item,index) in info.project_list" v-if="item" :data-uuid="item.uuid">
                            <td style="padding-left: 10px"><project-selector ref="project_selector" :info.sync="item"></project-selector></td>
                            <td><el-button style="margin:11px 0 10px 0" size="mini" type="danger" @click="removeProject(index)">删除</el-button></td>
                        </tr>
                    </table>
                </div>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="is_show_editor=false">取消</el-button>
          <el-button type="primary" @click="handleUpdate" :loading="posting">提交</el-button>
        </div>
      </el-dialog>
    </div>
  </template>
</div>
<script src="//cache.hinabian.com/admin/element-ui/vue.js"></script>
<script src="//cache.hinabian.com/admin/element-ui/index.js"></script>
<script src="//cache.hinabian.com/admin/http-vue-loader.js"></script>
<script src="//cache.hinabian.com/admin/clipboard.min.js"></script>
<script src="//cache.hinabian.com/admin/axios.min.js"></script>
<script src="//cache.hinabian.com/admin/tinymce/tinymce.min.js"></script>
<script src="//cache.hinabian.com/admin/Sortable.min.js"></script>
<script>
  var Main = {
    components: {
      'project-selector': httpVueLoader('../ProjectAdmin/selector?action=vue_compnent')
    },
    data() {
      return {
        authors:[],
        bg_image:'',
        avatar:'',
        picture:'',
        rules: {
          title: [{ required: true, message: '标题是必须的', trigger: 'change' }],
          picture: [{ required:true, message: '封面图是必须的', validator: this.emptyValidator}],
          bg_image: [{ required:true, message: '详情图是必须的', validator: this.emptyValidator}],
          avatar: [{ required:true, message: '头像是必须的', validator: this.emptyValidator}],
          nickname: [{ required:true, message: '昵称是必须的', trigger: 'change'}],
          content: [{ required:true, message: '内容是必须的', validator: this.emptyValidator}],
          source_url: [{ required:false, message: '请先输入链接', validator: this.emptyValidator, trigger:'_'}],
          project_uuid_list: [
            { validator:(rule,value,callback) =>{
                if(!this.info.project_list.length){
                  return callback('推荐项目是必须的')
                }
                callback()
              }, required: true, trigger: 'blur'
            }
          ]
        },
        editor_title: '',
        is_show_editor:false,
        limit:7,
        default_query:{},
        query:{},
        total: 0,
        list: [],
        loading: false,
        empty_list:'',
        default_info:{
          project_uuid_list:[],
          project_list:[],
          is_enabled:true
        },
        info: {},
        posting:false,
        url_prefix:'../StoryAdmin/'
      }
    },
    filters: {
      //多余字符省略,用法: {{scope.row.summary | ellipsis(14)}}
      ellipsis(value, length) {
        if (!value) return ''
        if (value.length > length) {
          return value.slice(0, length) + '...'
        }
        return value
      },
    },
    mounted() {
      this.getList()
      this.clipboard()
    },
    methods: {
      addProject(){
        this.info.project_list.push({})
      },
      removeProject(index){
        let arr = []
        this.info.project_list.forEach((item, i)=>{
          if(i != index){
            arr[i] = item
          }
        })
        this.info.project_list = arr
      },
      //关联数据列表
      correlationList(query){
        let params = {
          limit: 20,
          keywords: query.trim()
        }
        if(!params.keywords || typeof query != 'string'){
          return
        }
        this.axiosGet('../ProjectAdmin/index?action',{params:params} ).then(response => {
          if(response.data.code != 'ok'){
            this.correlation_list = []
          }
          else{
            let data = response.data.data
            this.correlation_list = data.list
          }
        })
      },
      crawl(){
        this.rules.source_url = [{ required:false, message: '请先输入链接', validator: this.emptyValidator, trigger:'_'}]
        this.$refs['dataForm'].validateField('source_url',  (error) => {
          if(!error){
            this.axiosPost(this.url_prefix +(this.info.uuid ? 'update' : 'create') + '?action=crawl', {url:this.info.source_url}).then(response => {
              let data = response.data.data
              tinymce.get('rich_text').setContent(data.info.content)
              tinymce.activeEditor.execCommand('mceFullScreen')
            })
          }
        })
      },
      querySearch(queryString, cb) {
        var restaurants = this.authors;
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
        var results = restaurants;
        // 调用 callback 返回建议列表的数据
        cb(results);
      },
      createFilter(queryString) {
        return (restaurant) => {
          return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      handleSelect(item) {
        this.avatar=item.avatar
        this.info.avatar=item.avatar
      },
      tinymceInit(initCallback){
        tinymce.init({
          selector: '#rich_text',
          language: 'zh_CN',
          //width: 600,
          //height: 600,
          mobile: {
            theme: 'mobile',
          },
          //paste_webkit_styles: "color font-size",
          paste_remove_styles_if_webkit: false,
          plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table directionality emoticons template powerpaste axupimgs',
            //'fullpage'
          ],
          powerpaste_word_import: 'propmt',// 参数可以是propmt, merge, clear，效果自行切换对比
          powerpaste_html_import: 'propmt',// propmt, merge, clear
          powerpaste_allow_local_images: true,
          paste_data_images: true,
          /*toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons hr'*/
          toolbar: 'fullscreen insertfile undo redo bold fontsizeselect aligncenter forecolor | link emoticons image axupimgs| hr bullist numlist outdent indent | code preview ',
          fontsize_formats: "8pt 9pt 10pt 11pt 12pt 13pt 14pt 15pt 16pt 17pt 18pt 19pt 20pt 22pt 24pt 26pt 28pt 30pt 32pt 34pt 36pt 48pt",
          setup: function (editor) {
            console.log('Editor was setup.');
            editor.on('init', function (e) {
              console.log('Editor was initialized.');
              if(initCallback){
                initCallback();
              }
            });
          },
          images_upload_handler: function (blobInfo, success, failure) {
            var file = blobInfo.blob()
            var xhr, formData;
            xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.open('POST', '/file/image/saveWithOssLimit/size/50000');
            xhr.onload = function() {
              var json;
              if (xhr.status != 200) {
                failure('HTTP Error: ' + xhr.status);
                return;
              }
              json = JSON.parse(xhr.responseText);
              if (!json) {
                failure('Invalid JSON: ' + xhr.responseText);
                return;
              }
              if(json.errorCode != 0){
                failure('错误: ' + json.data);
              }

              success(json.data);
            };
            formData = new FormData();
            formData.append('file', file, file.name);
            xhr.send(formData);
          }
        })
      },
      //上传图片后
      handleAvatarSuccess(res, file) {
        if(res.errorCode != 0){
          return this.$notify.error(res.data)
        }
        this.avatar = res.data
        this.info.avatar = res.data
        this.$refs['dataForm'].validateField('avatar')
      },
      //上传图片后
      handleBgImageSuccess(res, file) {
        if(res.errorCode != 0){
          return this.$notify.error(res.data)
        }
        this.bg_image = res.data
        this.info.bg_image = res.data
        this.$refs['dataForm'].validateField('bg_image')
      },
      //上传图片后
      handlePictureSuccess(res, file) {
        if(res.errorCode != 0){
          return this.$notify.error(res.data)
        }
        this.picture = res.data
        this.info.picture = res.data
        this.$refs['dataForm'].validateField('picture')
      },
      //上传图片前
      beforePictureUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isJPG) {
          //this.$notify.error('上传头像图片只能是 JPG 格式!');
        }
        if (!isLt2M) {
          this.$notify.error('上传头像图片大小不能超过 2MB!');
        }
        //return isJPG && isLt2M;
        return isLt2M;
      },
      //打开弹窗
      editOpen(title, callback){
        this.editor_title = title
        this.is_show_editor=true
        this.info = JSON.parse(JSON.stringify(this.default_info))
        //打开弹窗渲染完成后的回调
        this.$nextTick(() => {
          if(callback){
              //排序
              Sortable.create(document.querySelector('.sort_table tbody'), {
                  animation: 150,
                  ghostClass: 'blue-background',
                  selectedClass: 'selected',
                  handle: 'tr',
                  dataIdAttr: 'data-uuid',
                  invertSwap: true,
                  onMove:function () {
                      console.log('move')
                  },
                  onUpdate:function (evt) {
                      console.log('update')
                  },
                  onUnchoose:function () {
                      console.log('unchoose')
                  }
              })
              if(callback){
                  callback()
              }
          }
        })
      },
      //表单重置
      resetForm(formName){
        this.$refs[formName].resetFields()
        this.picture = ''
        this.bg_image = ''
        this.avatar = ''
        tinymce.get('rich_text').setContent('')
      },
      //空数据验证器(用于上传等非input控件)
      emptyValidator(rule, value, callback){
        if (!this.info[rule.field]) {
          callback(new Error());
        } else {
          callback();
        }
      },
      handleCreate(){
        let min=0,max=this.authors.length-1
        let author=this.authors[Math.floor(Math.random()*(max-min+1)+min)]
        this.avatar=author.avatar
        this.default_info.avatar=author.avatar
        this.default_info.nickname=author.value
        this.editOpen('新建', this.tinymceInit)
      },
      //详情编辑
      handleInfo(row, index) {
        this.editOpen('编辑', () => {
          this.axiosGet('update?action=info', {params : {uuid:row.uuid}} ).then(response => {
            let data = response.data.data
            console.warn('handleInfo response data', data)
            let info = data.info
            info.start_time = info.start_time_fmt
            info.end_time = info.end_time_fmt
            this.info = info
            this.picture = info.picture
            this.bg_image = info.bg_image
            this.avatar = info.avatar
            this.tinymceInit(() => {
              tinymce.get('rich_text').setContent(info.content)
            })
            tinymce.get('rich_text').setContent(info.content)
          })
        })
      },
      //更新
      handleUpdate(e, data) {
        const update = (data) => {
          this.axiosPost((data.uuid ? 'update' : 'create') + '?action', data).then( (response) => {
            this.is_show_editor=false
            this.getList()
          }).finally(() =>{
            this.rules.source_url = [{ required:false, message: '请先输入链接', validator: this.emptyValidator, trigger:'_'}]
          })
        }
        if(data){
          update(data)
        }
        else{
          this.info.content = tinymce.get('rich_text').getContent()
          delete this.rules.source_url
          this.$refs['dataForm'].validate((valid) => {
            let component_valid = true
            this.$refs['project_selector'].forEach((item) => {
              item.$refs['dataForm'].validate((valid) => {
                if (!valid) {
                  component_valid = false
                }
              })
            })
            if (valid && component_valid) {
              this.info.project_uuid_list = Sortable.get(document.querySelector('.sort_table tbody')).toArray()
              update(this.info)
            }
          })
        }
      },
      //剪贴板
      clipboard(){
        (new ClipboardJS('.copy')).on('success', function(e) {
          e.clearSelection()
          let t = e.trigger
          t.innerText = '已复制'
          setTimeout(()=>{t.innerText = '复制'},1000)
        })
      },
      //请求列表数据
      getList() {
        this.query=Object.assign({},this.default_query, this.query)
        this.query.limit = this.limit
        this.axiosGet('?action',{params:this.query} ).then(response => {
          if(response.data.code != 'ok'){
            this.empty_list = response.data.msg
            this.total = 0
          }
          else{
            let data = response.data.data
            this.list = data.list
            this.total = data.total
            this.authors = data.authors
          }
        })
      },
      //提交每页显示数
      handleSizeChange(limit){
        this.limit = limit
        this.getList()
      },
      //翻页
      handleCurrentChange(page){
        this.query.page = page
        this.getList()
      },
      //提交列表筛选
      handleFilter(){
        for (let i in this.query){
          if((''+this.query[i]).trim() == ''){
            delete this.query[i]
          }
        }
        this.query.page = 1
        this.getList()
      },
      //重置筛选
      resetFilter(){
        this.query = this.default_query
        this.handleFilter()
      },
      axiosRequest(config, handle_error = true) {
        var vm = this
        return new Promise((resolve, reject) => {
          config.method == 'post' ? vm.posting=true : vm.loading=true
          axios({timeout:60000,...config}).then(function(response){
            if(response.request.responseURL == 'https://operate.hinabian.com/index/index'){
              location.href = response.request.responseURL;
              return;
            }
            if(response.data.code != 'ok' && handle_error){
              vm.$notify.error(response.data.msg)
              reject(response)
            }
            else{
              config.method == 'post' ? vm.$notify.success('操作成功') : ''
              resolve(response)
            }
          }).catch(function (error) {
            if(error.response){
              console.warn('服务端错误',error.response.data.ref)
              data = error.response.data
              if(handle_error){
                if(data.msg){
                  vm.$notify.error(data.msg)
                } else{
                  vm.$notify.error(error.response.statusText)
                }
              }
            } else{
              console.warn('axios catch error',error)
              vm.$notify.error(error.message)
            }
            reject(error)
          }).finally(function () {
            config.method == 'post' ? vm.posting=false : vm.loading=false
          })
        })
      },
      axiosGet(url, config, handle_error = true){
        return this.axiosRequest({
          url:url,
          method:'get',
          ...config
        })
      },
      axiosPost(url, data, config, handle_error = true){
        return this.axiosRequest({
          url:url,
          method:'post',
          data,
          ...config
        })
      }
    }
  }

  Vue.prototype.$ELEMENT = { size: "mini" } //小号UI,小号字体
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')

</script>

</body>
</html>