<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Wayne</title>
  <link rel="stylesheet" href="//cache.hinabian.com/admin/element-ui/index.css">
  <link rel="stylesheet" href="//api.hinabian.com/study-tour/Operate/commonCss">
</head>
<body>
<div id="app">
  <template>
    <div class="app-container" style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);padding: 10px">
      <!--过滤器-->
      <div class="filter-container" style="">
        <el-input class="filter-item" v-model="query.keywords" clearable placeholder="关键词" autofocus @keyup--.enter.native="handleFilter" @input="handleFilter"></el-input>
        <el-select class="filter-item"
                   v-model="query.topic_uuid"
                   clearable
                   placeholder="话题"
                   @change="handleFilter"
                   filterable
                   remote
                   reserve-keyword
                   :loading="loading"
                   :remote-method="projectList"
                   @click.native__="projectList">
          <el-option
                  v-for="item in project_list"
                  :key="item.uuid"
                  :label="item.title|ellipsis(22)"
                  :value="item.uuid">
            <span style="float: left">{{item.title|ellipsis(22)}}</span>
            <span style="float: right; color: #8492a6; font-size: 13px">{{item.is_enabled|is_enabled_text}}</span>
          </el-option>
        </el-select>
        <el-select class="filter-item" v-model="query.is_enabled" clearable placeholder="审核" @change="handleFilter">
          <el-option label="通过" value="1"></el-option>
          <el-option label="未通过" value="0"></el-option>
        </el-select>
        <el-button type="primary" @click="resetFilter">重置</el-button>
        <el-button style="margin-left: 10px;" type="primary" @click="handleCreate">新建</el-button>
      </div>

      <!--数据列表-->
      <el-table :data="list" v-loading="loading" :empty-text="empty_list" stripe-- style="width: 100%;margin: 20px 0;border-top: 1px solid #eee;">
        <el-table-column prop="f_nickname" label="用户" width="180"></el-table-column>
        <el-table-column prop="t_title" label="话题" show-overflow-tooltip>
          <template slot-scope="scope">
            <span slot="reference">{{scope.row.t_is_enabled|is_enabled_text("[未上线]")}} {{scope.row.t_title}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="content" label="评论" show-overflow-tooltip></el-table-column>
        <el-table-column prop="likes" label="点赞数" width="100"></el-table-column>
        <el-table-column prop="is_enabled" label="通过" width="60">
          <template slot-scope="scope">
            <el-switch :value="Boolean(scope.row.is_enabled)" active-text="" active-color="#13ce66" @change="handleUpdate($event, {is_enabled: !scope.row.is_enabled, uuid: scope.row.uuid})"></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-popover
                    placement="top"
                    width="160"
                    v-model="scope.row.delete">
              <p>确定删除吗？</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="scope.row.delete=false">取消</el-button>
                <el-button type="primary" size="mini" @click="scope.row.delete=false;handleDelete(scope.row, scope.$index)">确定</el-button>
              </div>
              <el-button slot="reference" size="mini" type="danger__">删除</el-button>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page.sync="query.page"
              :page-sizes="[7, 20, 50, 100]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next"
              :total="total">
      </el-pagination>

      <!--编辑对话框-->
      <el-dialog fullscreen__ :title="editor_title" :visible.sync="is_show_editor" @closed="resetForm('dataForm')">
        <el-form ref="dataForm" v-loading="loading" :rules="rules" :model="info" label-position="right" label-width="90px">
          <el-form-item label="用户" prop="user_id">
            <el-select style="width: 90%;"
                       v-model="info.user_id"
                       filterable
                       remote
                       reserve-keyword
                       placeholder="输入关键词可搜索"
                       :loading="loading"
                       :remote-method="userList"
                       @click.native__="userList">
              <el-option
                      v-for="item in user_list"
                      :key="item.f_id"
                      :label="item.f_nickname|ellipsis(22)"
                      :value="item.f_id">
                <el-avatar style="float: left;margin-right: 10px" :size="30" :src="item.f_head_url"></el-avatar>
                <span style="float: left">{{item.f_nickname|ellipsis(22)}}</span>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="评论" prop="content"><el-input v-model="info.content" type="textarea" autosize placeholder="输入一段评论" style="width: 90%"></el-input></el-form-item>
          <el-form-item label="游学话题" prop="topic_uuid">
            <el-select style="width: 90%;"
                       v-model="info.topic_uuid"
                       filterable
                       remote
                       reserve-keyword
                       placeholder="输入关键词可搜索"
                       :loading="loading"
                       :remote-method="projectList"
                       @click.native__="projectList">
              <el-option
                      v-for="item in project_list"
                      :key="item.uuid"
                      :label="item.title|ellipsis(22)"
                      :value="item.uuid">
                <span style="float: left">{{item.title|ellipsis(22)}}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{item.is_enabled|is_enabled_text}}</span>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="点赞数" prop="likes"><el-input-number v-model="info.likes" style="width:200px" controls-position="right" :max="1000000" placeholder="输入一个初始点赞数量"></el-input-number></el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="is_show_editor=false">取消</el-button>
          <el-button type="primary" @click="handleUpdate" :loading="posting">提交</el-button>
        </div>
      </el-dialog>
    </div>
  </template>
</div>
<script src="//cache.hinabian.com/admin/element-ui/vue.js"></script>
<script src="//cache.hinabian.com/admin/element-ui/index.js"></script>
<script src="//cache.hinabian.com/admin/clipboard.min.js"></script>
<script src="//cache.hinabian.com/admin/axios.min.js"></script>
<script>
  var Main = {
    data() {
      return {
        user_list:[],
        full_user_list:[],
        project_list:[],
        full_project_list:[],
        picture:'',
        country: [],
        state: [],
        visible:false,
        rules: {
          user_id: [{ required: true, message: '用户是必须的', trigger: 'change' }],
          content: [{ required: true, message: '评论是必须的', trigger: 'change' }],
          topic_uuid: [{ required: true, message: '游学话题是必须的', trigger: 'change' }]
        },
        editor_title: '',
        is_show_editor:false,
        limit:7,
        default_query:{},
        query:{},
        total: 0,
        list: [],
        loading: false,
        empty_list:'',
        default_info:{
          is_enabled:true
        },
        info: {},
        posting:false
      }
    },
    filters: {
      is_enabled_text(value, text) {
        let enabled_text=text?text:'未上线'
        return value < 1 ? enabled_text : ''
      },
      //多余字符省略,用法: {{scope.row.summary | ellipsis(14)}}
      ellipsis(value, length) {
        if (!value) return ''
        if (value.length > length) {
          return value.slice(0, length) + '...'
        }
        return value
      },
    },
    mounted() {
      this.getList()
      this.clipboard()
      this.userList('', (user_list)=>{
        this.full_user_list=user_list
      })
      this.projectList('', (project_list)=>{
        this.full_project_list=project_list
      })
    },
    methods: {
      //用户列表
      userList(query, callback){
        let params = {limit:100}
        if(query && typeof query == 'string' && query.trim()){
          params.keywords=query
        }
        this.axiosGet('?action=userList',{params:params} ).then(response => {
          if(response.data.code != 'ok'){
            this.user_list = []
          }
          else{
            let data = response.data.data
            this.user_list = data.list
            if(this.user_list.length<1){
              setTimeout(()=>{
                this.user_list=this.full_user_list
              },1000)
            }
          }
          if(callback){
            callback(this.user_list)
          }
        })
      },
      //话题列表
      projectList(query, callback){
        let params = {limit:100}
        if(query && typeof query == 'string' && query.trim()){
          params.keywords=query
        }
        this.axiosGet('../TopicAdmin/index?action',{params:params} ).then(response => {
          if(response.data.code != 'ok'){
            this.project_list = []
          }
          else{
            let data = response.data.data
            this.project_list = data.list
            if(this.project_list.length<1){
              setTimeout(()=>{
                this.project_list=this.full_project_list
              },1000)
            }
          }
          if(callback){
            callback(this.project_list)
          }
        })
      },
      //删除
      handleDelete(row, index) {
        this.axiosPost('delete?action', row).then( (response) => {
          this.getList()
        })
      },
      //上传图片后
      handlePictureSuccess(res, file) {
        if(res.errorCode != 0){
          return this.$notify.error(res.data)
        }
        this.picture = res.data
        this.info.picture = res.data
        this.$refs['dataForm'].validateField('picture')
      },
      //上传图片前
      beforePictureUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isJPG) {
          //this.$notify.error('上传头像图片只能是 JPG 格式!');
        }
        if (!isLt2M) {
          this.$notify.error('上传头像图片大小不能超过 2MB!');
        }
        //return isJPG && isLt2M;
        return isLt2M;
      },
      //打开弹窗
      editOpen(title, callback){
        this.editor_title = title
        this.is_show_editor=true
        this.info = JSON.parse(JSON.stringify(this.default_info))
        //打开弹窗渲染完成后的回调
        this.$nextTick(() => {
          if(callback){
            callback()
          }
        })
      },
      //表单重置
      resetForm(formName){
        this.$refs[formName].resetFields()
        this.picture = ''
      },
      //空数据验证器(用于上传等非input控件)
      emptyValidator(rule, value, callback){
        if (!this.info[rule.field]) {
          callback(new Error());
        } else {
          callback();
        }
      },
      handleCreate(){
        let min=0,max=this.full_user_list.length-1
        let user=this.full_user_list[Math.floor(Math.random()*(max-min+1)+min)]
        this.default_info.user_id=user.f_id
        this.editOpen('新建')
      },
      //详情编辑
      handleInfo(row, index) {
        this.editOpen('编辑', () => {
          this.axiosGet('update?action=info', {params : {uuid:row.uuid}} ).then(response => {
            let data = response.data.data
            console.warn('handleInfo response data', data)
            let info = data.info
            info.start_time = info.start_time_fmt
            info.end_time = info.end_time_fmt
            info.finish_time = info.finish_time_fmt
            this.info = info
            this.picture = info.picture
          })
        })
      },
      //更新
      handleUpdate(e, data) {
        const update = (data) => {
          this.axiosPost((data.uuid ? 'update' : 'create') + '?action', data).then( (response) => {
            this.is_show_editor=false
            this.getList()
          })
        }
        if(data){
          update(data)
        }
        else{
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              update(this.info)
            }
          })
        }
      },
      //剪贴板
      clipboard(){
        (new ClipboardJS('.copy')).on('success', function(e) {
          e.clearSelection()
          let t = e.trigger
          t.innerText = '已复制'
          setTimeout(()=>{t.innerText = '复制'},1000)
        })
      },
      //请求列表数据
      getList() {
        this.query=Object.assign({},this.default_query, this.query)
        this.query.limit = this.limit
        this.axiosGet('?action',{params:this.query} ).then(response => {
          if(response.data.code != 'ok'){
            this.empty_list = response.data.msg
            this.total = 0
          }
          else{
            let data = response.data.data
            this.list = data.list
            this.total = data.total
          }
        })
      },
      //提交每页显示数
      handleSizeChange(limit){
        this.limit = limit
        this.getList()
      },
      //翻页
      handleCurrentChange(page){
        this.query.page = page
        this.getList()
      },
      //提交列表筛选
      handleFilter(){
        for (let i in this.query){
          if((''+this.query[i]).trim() == ''){
            delete this.query[i]
          }
        }
        this.query.page = 1
        this.getList()
      },
      //重置筛选
      resetFilter(){
        this.query = this.default_query
        this.handleFilter()
      },
      axiosRequest(config, handle_error = true) {
        var vm = this
        return new Promise((resolve, reject) => {
          config.method == 'post' ? vm.posting=true : vm.loading=true
          axios({timeout:20000,...config}).then(function(response){
            if(response.request.responseURL == 'https://operate.hinabian.com/index/index'){
              location.href = response.request.responseURL;
              return;
            }
            if(response.data.code != 'ok' && handle_error){
              vm.$notify.error(response.data.msg)
              reject(response)
            }
            else{
              config.method == 'post' ? vm.$notify.success('操作成功') : ''
              resolve(response)
            }
          }).catch(function (error) {
            if(error.response){
              console.warn('服务端错误',error.response.data.ref)
              data = error.response.data
              if(handle_error){
                if(data.msg){
                  vm.$notify.error(data.msg)
                } else{
                  vm.$notify.error(error.response.statusText)
                }
              }
            } else{
              console.warn('axios catch error',error)
              vm.$notify.error(error.message)
            }
            reject(error)
          }).finally(function () {
            config.method == 'post' ? vm.posting=false : vm.loading=false
          })
        })
      },
      axiosGet(url, config, handle_error = true){
        return this.axiosRequest({
          url:url,
          method:'get',
          ...config
        })
      },
      axiosPost(url, data, config, handle_error = true){
        return this.axiosRequest({
          url:url,
          method:'post',
          data,
          ...config
        })
      }
    }
  }

  Vue.prototype.$ELEMENT = { size: "mini" } //小号UI,小号字体
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')

</script>

</body>
</html>