<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Wayne</title>
  <link rel="stylesheet" href="//cache.hinabian.com/admin/element-ui/index.css">
  <link rel="stylesheet" href="//api.hinabian.com/study-tour/Operate/commonCss">
</head>
<body>
<div id="app">
  <template>
    <div class="app-container" style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);padding: 10px">
      <!--过滤器-->
      <div class="filter-container" style="">
<!--        <el-input class="filter-item" v-model="query.keywords" clearable placeholder="项目名称" autofocus @keyup&#45;&#45;.enter.native="handleFilter" @input="handleFilter"></el-input>-->
        <el-select class="filter-item" v-model="query.country" clearable placeholder="国家" @change="handleFilter">
          <el-option v-for="(item, index) in country" :label="item" :value="item"></el-option>
        </el-select>
        <!--<el-select class="filter-item" v-model="query.state" clearable placeholder="项目状态" @change="handleFilter">
            <el-option v-for="(item, index) in state" :label="item.text" :value="item.value"></el-option>
        </el-select>-->
          <el-select class="filter-item" v-model="query.is_enabled" clearable placeholder="是否上线" @change="handleFilter">
              <el-option label="上线" value="1"></el-option>
              <el-option label="未上线" value="0"></el-option>
          </el-select>
          <el-select class="filter-item" v-model="query.is_selection" clearable placeholder="是否精选" @change="handleFilter">
              <el-option label="精选" value="1"></el-option>
              <el-option label="非精选" value="0"></el-option>
          </el-select>
        <el-button type="primary" @click="resetFilter">重置</el-button>
        <el-button style="margin-left: 10px;" type="primary" @click="saveSort()">保存排序</el-button>
      </div>

      <span class="info" style="margin-top:20px">拖拽以排序, 可对筛选项(国家)单独排序. 不要忘记保存排序哦</span>
      <!--数据列表-->
      <el-table class="sort_table" :row-class-name="tableRowClassName" :data="list" v-loading="loading" :empty-text="empty_list" stripe-- style="width: 100%;margin: 20px 0;border-top: 1px solid #eee;">
        <el-table-column prop="title" label="名称" show-overflow-tooltip>
          <template slot-scope="scope">
            <span slot="reference">{{scope.row.is_enabled|is_enabled_text("[未上线]")}} {{scope.row.is_selection ? '[精选]' : ''}} {{scope.row.title}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="picture" label="图片" width="160">
          <template slot-scope="scope">
            <el-popover placement="left" trigger="hover">
              <el-image style="width: 200px; height: 100%" :src="scope.row.picture"></el-image>
              <el-image slot="reference" style="width: 40px; height: 100%" :src="scope.row.picture"></el-image>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="country" label="国家" width="100"></el-table-column>
        <el-table-column prop="price" label="价格" width="100"></el-table-column>
        <el-table-column prop="state_text" label="状态" width="100"></el-table-column>
      </el-table>
    </div>
  </template>
</div>
<script src="//cache.hinabian.com/admin/element-ui/vue.js"></script>
<script src="//cache.hinabian.com/admin/element-ui/index.js"></script>
<script src="//cache.hinabian.com/admin/clipboard.min.js"></script>
<script src="//cache.hinabian.com/admin/axios.min.js"></script>
<script src="//cache.hinabian.com/admin/Sortable.min.js"></script>
<script>
  var Main = {
    data() {
      return {
        picture:'',
        country: [],
        state: [],
        rules: {
          country: [{ required: true, message: '国家是必须的', trigger: 'change' }],
          state: [{ required: true, message: '状态是必须的', trigger: 'change' }],
          title: [{ required: true, message: '名称是必须的', trigger: 'change' }],
          summary: [{ required: true, message: '概要是必须的', trigger: 'change' }],
          price: [{ required: true, message: '价格是必须的', trigger: 'blur' }],
          picture: [{ required:true, message: '图片是必须的', validator: this.emptyValidator}],
          content: [{ required:true, message: '详情介绍是必须的', validator: this.emptyValidator}]
        },
        editor_title: '',
        is_show_editor:false,
        tableRowClassName({row, rowIndex}) {
          return 'row_id_' + row.uuid;
        },
        limit:1000,
        default_query:{
            sort:'ps.sort asc,p.sys_id desc'
        },
        query:{},
        total: 0,
        list: [],
        loading: false,
        empty_list:'',
        default_info:{
          is_enabled:true
        },
        info: {},
        posting:false
      }
    },
    filters: {
      is_enabled_text(value, text) {
        let enabled_text=text?text:'未上线'
        return value < 1 ? enabled_text : ''
      },
      //多余字符省略,用法: {{scope.row.summary | ellipsis(14)}}
      ellipsis(value, length) {
        if (!value) return ''
        if (value.length > length) {
          return value.slice(0, length) + '...'
        }
        return value
      },
    },
    created(){

    },
    mounted() {
      this.getList()
      this.clipboard()
      //排序
      Sortable.create(document.querySelector('.sort_table tbody'), {
        animation: 150,
        ghostClass: 'blue-background',
        selectedClass: 'selected',
        handle: 'tr',
        dataIdAttr: 'class',
        invertSwap: true,
        onMove:function () {
          console.log('move')
        },
        onUpdate:function (evt) {
          console.log('update')
        },
        onUnchoose:function () {
          console.log('unchoose')
        }
      })
    },
    methods: {
      saveSort(){
        let arr = Sortable.get(document.querySelector('.sort_table tbody')).toArray()
        let ids = []
        for(let i in arr){
          ids.push(arr[i].match(/row_id_(.*?\b)/)[1])
        }
        this.axiosPost('updateSort?action', {
          'query': {country: this.query.country ? this.query.country : ''},
          'uuid_list': ids
        }).then( (response) => {
          this.list = []
          this.getList()
        })
      },
      //更新
      handleUpdate(e, data) {
        const update = (data) => {
          this.axiosPost((data.uuid ? 'update' : 'create') + '?action', data).then( (response) => {
            this.is_show_editor=false
            this.getList()
          })
        }
        if(data){
          update(data)
        }
        else{
          this.info.content = tinymce.get('rich_text').getContent()
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              update(this.info)
            }
          })
        }
      },
      //剪贴板
      clipboard(){
        (new ClipboardJS('.copy')).on('success', function(e) {
          e.clearSelection()
          let t = e.trigger
          t.innerText = '已复制'
          setTimeout(()=>{t.innerText = '复制'},1000)
        })
      },
      //请求列表数据
      getList() {
        this.query=Object.assign({},this.default_query, this.query)
        this.query.limit = this.limit
        this.axiosGet('index?action',{params:this.query} ).then(response => {
          if(response.data.code != 'ok'){
            this.empty_list = response.data.msg
            this.total = 0
          }
          else{
            let data = response.data.data
            this.list = data.list
            this.total = data.total
            this.country = data.country
            this.state = data.state
          }
        })
      },
      //提交每页显示数
      handleSizeChange(limit){
        this.limit = limit
        this.getList()
      },
      //翻页
      handleCurrentChange(page){
        this.query.page = page
        this.getList()
      },
      //提交列表筛选
      handleFilter(){
        for (let i in this.query){
          if((''+this.query[i]).trim() == ''){
            delete this.query[i]
          }
        }
        this.query.page = 1
        this.getList()
      },
      //重置筛选
      resetFilter(){
        this.query = this.default_query
        this.handleFilter()
      },
      axiosRequest(config, handle_error = true) {
        var vm = this
        return new Promise((resolve, reject) => {
          config.method == 'post' ? vm.posting=true : vm.loading=true
          axios({timeout:20000,...config}).then(function(response){
            if(response.request.responseURL == 'https://operate.hinabian.com/index/index'){
              location.href = response.request.responseURL;
              return;
            }
            if(response.data.code != 'ok' && handle_error){
              vm.$notify.error(response.data.msg)
              reject(response)
            }
            else{
              config.method == 'post' ? vm.$notify.success('操作成功') : ''
              resolve(response)
            }
          }).catch(function (error) {
            if(error.response){
              console.warn('服务端错误',error.response.data.ref)
              data = error.response.data
              if(handle_error){
                if(data.msg){
                  vm.$notify.error(data.msg)
                } else{
                  vm.$notify.error(error.response.statusText)
                }
              }
            } else{
              console.warn('axios catch error',error)
              vm.$notify.error(error.message)
            }
            reject(error)
          }).finally(function () {
            config.method == 'post' ? vm.posting=false : vm.loading=false
          })
        })
      },
      axiosGet(url, config, handle_error = true){
        return this.axiosRequest({
          url:url,
          method:'get',
          ...config
        })
      },
      axiosPost(url, data, config, handle_error = true){
        return this.axiosRequest({
          url:url,
          method:'post',
          data,
          ...config
        })
      }
    }
  }

  Vue.prototype.$ELEMENT = { size: "mini" } //小号UI,小号字体
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')

</script>

</body>
</html>